<div class="container">
  <div class="flex">

    <% @games.each do |game| %>
      <div class="fifty">
        
        <%= link_to(game_path(game)) do %>
          <img class="thumbnail-image-feed-five" src="<%= game.image %>">
        <% end %>

        <div class="padding-vertical padding-horizontal">

          <div class="game-title center padding-vertical">
            <%= link_to game.title, game_path(game) %>
          </div>

          <div class="center">
            <%= pluralize(game.playlists.count, "Tournament") %>
          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>



