/*
 *
 *= require_tree .
 *= require_self
 */

$main: #F08653; /* OCEAN GREEN */
$light: #FFC3A6; /* SPRING RAIN */
$dark: #88d7bC; /* HOKEY POKEY */
$darkgrey: #aaa;
$green: #38A17C; /* OCEAN GREEN */
$border: #BEC8CE; /* LOBLOLLY */
$red: #F44336; /* POMEGRANATE */
$yellow: #ff9800; /* PIZAZZ */
$black: #212121; /* GREEN KELP */
$white: #fff; /* FAFAFA DESERT STORM */
$grey: #EEEEEE; /* GALLERY */
$fancy: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$letterspacer: 0.25px;
$radius: 20px;
$shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$shadow-lite: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

/* ****************** MIXIN *********************** */

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

@mixin textLabels {
  font-size: .75em;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin formBorder {
  box-shadow: $shadow-lite;
  border-radius: $radius;
  padding: 2vh 1vw;
  background: $white;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0px;
  font-family: $fancy;
  font-weight: 400;
  background: $white;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

a {
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $dark;
  }
}

::selection {
  color: $white;
  background: $main;
}

::-moz-selection {
  color: $white;
  background: $main;
}

img {
  border-radius: $radius;
  display: block;
}

/* ***************** UNIVERSAL ************* */

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mini-text {
  font-size: 0.75em;
}

.darkgrey {
  color: $darkgrey;
}

.container {
  width: 94%;
  margin: 0 auto;
  max-width: 1920px;
}

.medium-title {
  line-height: 1em;
  font-size: 3em;
  font-weight: 700;
}

/* *************** FLASH ***************** */

.flash {
  position: fixed;
  margin: 0 auto;
  z-index: 1006;
  width: 60%;
  top: 0;
  left: 20%;
}

.alert-notice {
  border-bottom: 10px solid $green;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert-alert {
  border-bottom: 10px solid $red;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert {
  width: 90%;
  margin: 0 auto;
  padding: 1vh 0;
  font-family: $fancy;
}

/* ****************** FORMS ********************* */

.form-container {
  width: 40%;
  margin: 0 auto;
}

.form-border {
  @include formBorder;
}

.form-border {
  @include formBorder;
}

textarea:focus, input:focus {
  outline: none;
}

label {
  @include textLabels;
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

::placeholder {
  color: $border;
}

@mixin fields {
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  border-radius: $radius;
  font-family: $fancy;
  letter-spacing: .5px;
}

select {
  @include fields;
  text-indent: 1vw;
  background: $grey;
  height: 4vh;
  background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right $grey;
  -webkit-appearance: none;
  background-position-x: 98%;
}

.text-field {
  @include fields;
  padding: 1vh 1vw;
  background: $grey;
}

.text-area {
  @include fields;
  min-width: 100%;
  max-width: 100%;
  min-height: 15vh;
  max-height: 30vh;
  height: 15vh;
  padding: 1vh 1vw;
  background: $grey;
  display: block;
}

.field {
  margin: 0 0 2vh 0;
}

.field-two-column {
  margin: 0 0 0 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.field-two-column-bottom {
  margin: 0 0 2vh 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

@mixin buttons {
  @include transition;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 700;
  cursor: pointer;
  border-radius: $radius;
  box-sizing: border-box;
  font-family: $fancy;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: $white;
  padding: 1vh 1vw;
  background: $main;
  border: 2px solid $main;
  color: $white;
  -webkit-font-smoothing: unset;
  box-shadow: $shadow-lite;
  &:hover {
    box-shadow: $shadow;
    color: $white;
  }
}

.submit-button {
  @include buttons;
}

.image-button {
  @include buttons;
  padding: .51vh .51vw;
  border: 1px solid $main;
}

.active-removal-tab {
  @include transition;
  box-sizing: border-box;
  background: $red;
  color: $white;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 700;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid $red;
  -webkit-font-smoothing: unset;
  box-shadow: $shadow;
}

.inactive-removal-tab {
  box-sizing: border-box;
  @include transition;
  background: $grey;
  color: $black;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 400;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid transparent;
  -webkit-font-smoothing: unset;
  &:hover {
    background: $grey;
    border: 1px solid $grey;
  }
}

.active-small-tab {
  @include transition;
  box-sizing: border-box;
  background: $green;
  color: $white;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 700;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid $green;
  -webkit-font-smoothing: unset;
  box-shadow: $shadow-lite;
}

.inactive-small-tab {
  box-sizing: border-box;
  @include transition;
  background: $grey;
  color: $black;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 400;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid $grey;
  -webkit-font-smoothing: unset;
  &:hover {
    background: $grey;
    border: 1px solid $grey;
  }
}

/* ************ HEADER *********************** */

.header-container {
  width: 94%;
  margin: 0 auto;
  background: transparent;
  a {
    color: $black;
  }
}

.header-container-menu {
  width: 94%;
  margin: 0 auto;
  background: transparent;
  a {
    color: $white;
  }
}

.nav {
  display: block;
  .site-title {
    @include transition;
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: $white;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    display: block;
    li {
      width: 30%;
      display: inline-block;
      position: relative;
      text-align: left;
    }
  }
}

#menu-click {
  @include transition;
  cursor: pointer;
  padding-right: 2vw;
  font-weight: 400;
  letter-spacing: $letterspacer;
  color: $black;
}

#menu-click-menu {
  @include transition;
  cursor: pointer;
  padding-right: 2vw;
  font-weight: 400;
  letter-spacing: $letterspacer;
  color: $black;
}

#menu-container {
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  background: $main;
}

.side-menu {
  z-index: 1005;
  background: white;
  height: 100%;
  position: fixed;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    li {
      padding: 2vh 0;
      position: relative;
      text-align: left;
      font-size: 1.75em;
    }
  }
  .nav-links {
    color: $white;
    padding: 1vh 0;
    &:hover {
      color: $black;
      background: transparent;
    }
  }
  .bottom {
    position: absolute;
    bottom: 0;
    padding: 4vh 0;
    width: 96%;
    text-align: left;
    cursor: pointer;
  }
}

/* ************************* FOOTER ********************** */

.full-footer-container {
  width: 100%;
  clear: both;
  padding-top: 5vh;
}

.footer {
  font-size: .75em;
  width: 100%;
  display: inline-block;
  span {
    float: left;
  }
  .nav-links {
    @include transition;
    color: $darkgrey;
    padding: 0;
    &:hover {
      @include transition;
      color: $main;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin: 0 1vw;
      &:first-child {
        margin: 0 1vw 0 0;
      }
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
  color: $white;
  padding-bottom: 2vh;
}

/* ************************ SPACING ************************ */

.padding-vertical-large {
  padding: 5vh 0;
}

.padding-top {
  padding-top: 3vh;
}

.padding-top-large {
  padding-top: 5vh;
}

.padding-top-mini {
  padding-top: 1vh;
}

.padding-vertical-mini {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.padding-vertical {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.padding-horizontal-mini {
  padding-right: 1vh;
  padding-left: 1vh;
}

.padding-horizontal {
  padding-right: 3vh;
  padding-left: 3vh;
}

.padding-bottom {
  padding-bottom: 3vh;
}

.padding-bottom-large {
  padding-bottom: 10vh;
}

.padding-bottom-mini {
  padding-bottom: 1vh;
}

.center {
  text-align: center;
}

/* ************************ BLOCKS ************************ */

.twentyfour {
  @include transition;
  margin: 0;
  width: 24%;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 3vh;
}

.thirty {
  @include transition;
  margin: 0;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.fortynine {
  @include transition;
  margin: 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.sixtynine {
  @include transition;
  margin: 0;
  width: 69%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

/* ************************ GAMES ************************ */

.match-outer-container {
  @include transition;
  margin: 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
  border-radius: $radius;
  margin-bottom: 3vh;
  &:hover {
    opacity: .90;
  }
}

.match-container {
  @include transition;
  margin: 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
  border-radius: $radius;
}

.match-show-container {
  @include transition;
  margin: 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
  border-radius: $radius;
}

.match-large-image-container {
  @include transition;
  position: relative;
  text-align: center;
  background: $black;
  border-radius: $radius - 1;
  box-shadow: $shadow-lite;
  &:hover {
    opacity: .90;
    box-shadow: $shadow;
  }
}

.match-image-container {
  position: relative;
  text-align: center;
  border-radius: $radius - 1;
}

.match-thumbnail-image {
  height: 32vh;
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
  opacity: .2;
  -webkit-backface-visibility: hidden;
}

.game-container {
  @include transition;
  margin: 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
  border-radius: $radius;
  margin-bottom: 3vh;
  &:hover {
    opacity: .90;
    box-shadow: $shadow;
  }
}

.league-container {
  @include transition;
  margin: 0;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  border-radius: $radius;
  margin-bottom: 3vh;
  background: $black;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
  &:hover {
    opacity: .90;
    box-shadow: $shadow;
  }
}

.game-title {
  line-height: 1em;
  font-size: 3em;
  font-weight: 700;
  color: $white;
}

.game-you-title {
  line-height: 1em;
  font-size: 3em;
  font-weight: 700;
  color: $main;
}

.large-game-title {
  line-height: 1em;
  font-size: 6em;
  font-weight: 700;
  color: $white;
}

.large-x {
  line-height: 1em;
  font-size: 12em;
  font-weight: 700;
  color: $white;
}

.game-subtext {
  color: $white;
}

.game-you-subtext {
  color: $main;
}

.game-thumbnail-image {
  height: 32vh;
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
  opacity: .2;
  -webkit-backface-visibility: hidden;
}

.game-large-image {
  height: 64vh;
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
  opacity: .2;
  -webkit-backface-visibility: hidden;
}

.match-large-image {
  height: 64vh;
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
  opacity: .2;
  -webkit-backface-visibility: hidden;
}

.game-image-container {
  position: relative;
  text-align: center;
  background: $black;
  border-radius: $radius - 1;
  box-shadow: $shadow-lite;
}

.game-image-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
}

.match-image-centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
}

.profile-thumbnail-image {
  height: 32vh;
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
}

.active-tab {
  @include transition;
  box-sizing: border-box;
  background: $main;
  color: $white;
  padding: 2vh 0;
  border-radius: $radius;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 700;
  box-shadow: $shadow-lite;
}

.inactive-tab {
  @include transition;
  box-sizing: border-box;
  background: $grey;
  color: $black;
  padding: 2vh 0;
  border-radius: $radius;
  text-transform: uppercase;
  font-size: .75em;
  cursor: pointer;
  &:hover {
    background: $grey;
    box-shadow: $shadow-lite;
  }
}

#second-tab, #third-tab, #fourth-tab {
  display: none;
}